@{
    ViewData["Title"] = "Mail page";
}

@model WebApplicationExample2.Models.SendMailViewModel


@using (Html.BeginForm(actionName: "SendMail", controllerName: "Mail"))
{
    @Html.ValidationSummary(true, "Something is not correct, pelase repeat")
    <div>
        <fieldset>
            <legend>Mail data input</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.MailTo)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.MailTo)
                @Html.ValidationMessageFor(m => m.MailTo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Message)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Message)
                @Html.ValidationMessageFor(m => m.Message)
            </div>
            <p>
                <input type="submit" value="Send" />
            </p>
        </fieldset>
    </div>
}